html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu,
nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* HTML5 display-role reset for older browsers */

body {
    font-family: "微軟正黑體";
}

.header {
    background-color: #424242;
}

.input label {
    margin-bottom: 0px;
    color: #FFD366;
    font-size: 18px;
}

.input input {
    border-radius: 10px;
    border: #FFD366 2px soild;
    background: rgba(255, 255, 255, 0.18);
    font-size: 24px;
}

.btn {
    border-radius: 50%;
    background-color: #FFD366;
    width: 120px;
    height: 120px;
    font-size: 24px;
    font-weight: bolder;
}

.btn:hover {
    background-color: #FFD366;
    border-color: #f7c9559f;
    border: solid 8px #f7c9559f;
    box-shadow: 2px 2px 2px #f7c9559f;
    color: #FFF;
    font-size: 26px;
    width: 126px;
    height: 126px;
    margin-left: -6px;
}

.result h2 {
    font-size: 2rem;
    text-align: center;
}

.result p {
    text-align: center;
}

ul {
    margin: 100px;
}

td {
    padding-left: 10px;
    font-size: 20px;
    width: 140px;
}

span {
    font-size: 12px;
    vertical-align: bottom;
}

.lv1 {
    border-left: 7px solid #31BAF9;
}

.lv2 {
    border-left: 7px solid #86D73F;
}

.lv3 {
    border-left: 7px solid#FF982D;
}

.lv4 {
    border-left: 7px solid #FF6C03;
}

.lv5 {
    border-left: 7px solid #FF6C03;
}

.lv6 {
    border-left: 7px solid #FF1200;
}